body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 2em;
  cursor: pointer;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

.reset-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.reset-button:hover {
  transform: scale(1.3);
  background-color: blue;
  transition-duration: 5s;
}
